div.float{
  width: 80px;
  background-color: royalblue;
  float: left;
}

div.orange{
  background-color: orange;
}
div.purple{
  background-color: purple;
}

div#green{
  background-color: green;
}

div.container{
  background-color: brown;
  width: 500px;
  margin: auto;
}

.clear {
  clear:both;
}